<template>
    <transition>
        <component :is="$auth.check() ? 'Admin' : 'Auth'"></component>
    </transition>
</template>

<script>

export default {
    components : {
        Admin : () => import('./components/layout/Admin'),
        Auth : () => import('./components/layout/Auth')
    }
};
</script>
